/* Reset y fuente */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

/* Fondo general */
body {
  background: linear-gradient(rgba(11, 51, 11, 0.6), rgb(8, 37, 8)), url('../IMG/fondo catalogo.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

.pago-container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, button {
  padding: 10px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #388e3c;
}

.volver-catalogo {
  color: white;
  text-decoration: underline;
  font-weight: bold;
  display: inline-block;
  margin-top: 10px;
}

.volver-catalogo:hover {
  color: #ffd700; /* cambia a un dorado suave al pasar el mouse */
}

/* Para resaltar campos inválidos */
.input-error {
  border: 2px solid red;
}

#form-envio {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

#form-envio input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

#form-envio button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}

#form-envio button:hover {
  background-color: #388e3c;
}